In [12]:
name = input()
print('Hello, ', name, '!', sep='')

Dasha
Hello, Dasha!

In [1]:
number = int(input())
print('   _~_    ' * number)
print('  (o o)   ' * number)
print(' /  V  \\  ' * number)
print('/(  _  )\\ ' * number)
print('  ^^ ^^   ' * number)

1
   _~_
  (o o)
 /  V  \
/(  _  )\
  ^^ ^^

In [5]:
pupil = int(input())
apple = int(input())
print(apple // pupil)

5
9
1

In [6]:
pupil = int(input())
apple = int(input())
print(apple % pupil)

5
9
4

In [7]:
n = int(input())
print(2 ** n)

4
16

In [9]:
n = int(input())
print(n % 10)

35
5

In [10]:
n = int(input())
print(n // 10)

56
5

In [11]:
n = int(input())
print((n // 10) % 10)

146
4

In [13]:
n = int(input())
a = n % 10
b = (n // 10) % 10
c = n // 100
print(a + b + c)

136
10

In [14]:
print('A' * 100)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

In [15]:
n = int(input())
print(n // 60 % 24, n % 60)

1478
0 38

In [16]:
a = int(input())
b = int(input())
n = int(input())
cost = a * 100 + b
print(cost * n // 100, cost * n % 100)

1
5
6
6 30

In [17]:
n = int(input())
print('The next number for the number ', n, ' is ', n+1, '.', sep='')
print('The previous number for the number ', n, ' is ', n-1, '.', sep='')

45
The next number for the number 45 is 46.
The previous number for the number 45 is 44.

In [18]:
n = int(input())
print(1 - 1 * n)

56
-55

In [22]:
n = input()
print(int(n * 100) ** 2)

1
1234567901234567901234567901234567901234567901234567901234567901234567901234567901234567901234567900987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654321

In [23]:
v = int(input())
t = int(input())
print(v * t % 109)

100
2
91

In [24]:
n = int(input())
h = n // 3600 % 24
m = n // 60 % 60
s = n % 60
print(h, str(m // 10) + str(m % 10), str(s // 10) + str(s % 10), sep=':')

3478
0:57:58

In [ ]:
n = int(input())
print(((n + 2) // 2) * 2)

In [ ]:
n = int(input())
n = n + 1
print(((n - 1) // 2 + 1) * 2)

In [2]:
h1 = int(input())
m1 = int(input())
s1 = int(input())
h2 = int(input())
m2 = int(input())
s2 = int(input())
time1 = h1 * 3600 + m1 * 60 + s1
time2 = h2 * 3600 + m2 * 60 + s2
print(time2 - time1)

1
2
5
2
4
7
3722

In [ ]:
n = int(input())
m = int(input())
print((m + n - 1) // n)